SECRET_KEY=Секретный ключ джанго приложения

# db
DB_ENGINE=Движок БД
DB_PASSWORD=Пароль БД
DB_NAME=Название проекта
DB_PORT=Свободный порт

DB_HOST=Название контейнера
DB_USER=Имя пользовотеля

# rabbitmq
RB_ENABLED_PLUGINS=Плагин для веб интерфейса
RB_DEFAULT_USER=Имя пользователя
RB_DEFAULT_PASS=Пароль
RB_BROKER=amqp://имя пользователя:пароль@название нашего сервиса:порт//

# redis
RD_REDIS_BACKEND=redis://имя нашего сервиса:порт/0
